*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

p {
    margin: 1rem 0;
    line-height: 2.2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Staatliches', cursive;
    margin-bottom: 1rem;
    line-height: 2rem;
}

img {
    width: 100%;
}