@media(max-width:900px) {
    html {
        font-size: 60%;
    }
}

@media(max-width:750px) {
    html {
        font-size: 50%;
    }
}

@media(max-width:600px) {
    html {
        font-size: 40%;
    }
}