@import 'variables';
.container {
    max-width: 110rem;
    margin: auto;
    padding: 1rem 2rem;
}

.logo {
    width: 15rem;
}

.l-lead {
    font-size: 1.7rem;
}

.m-lead {
    font-size: 1.2rem;
}

.l-heading {
    font-size: 3rem;
}

.m-heading {
    font-size: 2rem;
}

.card {
    background-color: white;
    padding: 1rem;
}

.list {
    &-item {
        color: #fff;
        display: block;
        line-height: 3rem;
        font-size: 1.2rem;
        &:hover {
            color: $primary-color;
        }
        &:not(:last-child) {
            border-bottom: 1px solid $gray-color;
        }
    }
}

.py {
    &-1 {
        padding: 1.5rem 0
    }
    &-2 {
        padding: 2rem 0
    }
    &-3 {
        padding: 3rem 0
    }
}

.p {
    &-1 {
        padding: 1.5rem
    }
    &-2 {
        padding: 2rem
    }
    &-3 {
        padding: 3rem
    }
}

.bg {
    &-light {
        background: #fff;
    }
    &-dark {
        background: $dark-color;
        color: #fff;
    }
    &-primary {
        background: $primary-color;
        color: #fff;
    }
    &-secondary {
        background: $secondary-color;
        color: #fff;
    }
}

.btn {
    display: inline-block;
    border: none;
    color: #fff;
    background: $dark-color;
    padding: 0.5rem 1.5rem;
    border-radius: 2px;
    text-transform: capitalize;
    font-size: 1.5rem;
    &-light {
        background: $light-color;
        color: $dark-color;
    }
    &-primary {
        background: $primary-color;
    }
    &-secondary {
        background: $secondary-color;
    }
    &-block {
        display: block;
        width: 100%;
        text-align: center
    }
    &:hover {
        opacity: 0.9;
    }
}

.category {
    display: inline-block;
    color: #fff;
    font-size: 1rem;
    text-transform: uppercase;
    padding: .5rem 1rem;
    border-radius: 1.5rem;
    margin: 1rem 0;
    &-sports {
        background: $sport-color;
    }
    &-ent {
        background: $ent-color;
    }
    &-tech {
        background: $tech-color;
    }
}