.container {
  max-width: 110rem;
  margin: auto;
  padding: 1rem 2rem;
}

.logo {
  width: 15rem;
}

.l-lead {
  font-size: 1.7rem;
}

.m-lead {
  font-size: 1.2rem;
}

.l-heading {
  font-size: 3rem;
}

.m-heading {
  font-size: 2rem;
}

.card {
  background-color: white;
  padding: 1rem;
}

.list-item {
  color: #fff;
  display: block;
  line-height: 3rem;
  font-size: 1.2rem;
}

.list-item:hover {
  color: #c72727;
}

.list-item:not(:last-child) {
  border-bottom: 1px solid #555;
}

.py-1 {
  padding: 1.5rem 0;
}

.py-2 {
  padding: 2rem 0;
}

.py-3 {
  padding: 3rem 0;
}

.p-1 {
  padding: 1.5rem;
}

.p-2 {
  padding: 2rem;
}

.p-3 {
  padding: 3rem;
}

.bg-light {
  background: #fff;
}

.bg-dark {
  background: #333;
  color: #fff;
}

.bg-primary {
  background: #c72727;
  color: #fff;
}

.bg-secondary {
  background: #f99500;
  color: #fff;
}

.btn {
  display: inline-block;
  border: none;
  color: #fff;
  background: #333;
  padding: 0.5rem 1.5rem;
  border-radius: 2px;
  text-transform: capitalize;
  font-size: 1.5rem;
}

.btn-light {
  background: #f3f3f3;
  color: #333;
}

.btn-primary {
  background: #c72727;
}

.btn-secondary {
  background: #f99500;
}

.btn-block {
  display: block;
  width: 100%;
  text-align: center;
}

.btn:hover {
  opacity: 0.9;
}

.category {
  display: inline-block;
  color: #fff;
  font-size: 1rem;
  text-transform: uppercase;
  padding: .5rem 1rem;
  border-radius: 1.5rem;
  margin: 1rem 0;
}

.category-sports {
  background: #f99500;
}

.category-ent {
  background: #a66bbe;
}

.category-tech {
  background: #009cff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  margin: 1rem 0;
  line-height: 2.2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Staatliches', cursive;
  margin-bottom: 1rem;
  line-height: 2rem;
}

img {
  width: 100%;
}

@media (max-width: 900px) {
  html {
    font-size: 60%;
  }
}

@media (max-width: 750px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 40%;
  }
}

/*
MEDIA QUERY MANAGERS
0 - 600 :      Phone
600 - 900:     Tablet Portrait
900 - 1200:    Tablet Landscape
[1200 - 1800]  is where normal styles applly
1800 + :       Big Desktop
*/
#navbar {
  background-color: #fff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 3;
}

#navbar .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 6fr 3fr 2fr;
      grid-template-columns: 6fr 3fr 2fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#navbar .social {
  justify-self: flex-start;
}

#navbar .social-item {
  padding-left: 1rem;
}

#navbar .social-item:hover {
  color: #333;
}

#navbar .current {
  background-color: #c72727;
  color: #fff;
  border-radius: 2px;
}

#navbar a {
  color: #555;
  cursor: pointer;
}

#navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#navbar ul li {
  font-weight: bold;
}

#navbar ul li a {
  font-size: 2rem;
  padding: 1rem;
}

#navbar ul li a:hover {
  background-color: #f3f3f3;
  color: #333;
}

#showcase {
  background: black;
  z-index: 1;
  height: 50vh;
  position: relative;
}

#showcase::before {
  content: '';
  background: url(../img/featured.jpg) no-repeat center center/cover;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: .6;
}

#showcase .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: inherit;
  padding: 0 5rem;
}

#showcase .content {
  color: #fff;
}

#article {
  background-color: #f3f3f3;
}

#article-cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

#article .card:first-child {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  grid-gap: 1rem;
}

#article .card:last-child {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 4;
}

#article .card div h3:hover {
  color: #f99500;
}

#footer .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
}

#footer .container > div:last-child {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 5;
  background-color: #555;
  padding: 1rem;
  text-align: center;
}

#footer input[type="email"] {
  width: 90%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

#footer input[type="submit"] {
  width: 90%;
}

#content {
  background-color: #f3f3f3;
}

#content .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5fr 2fr;
      grid-template-columns: 5fr 2fr;
  grid-gap: 3rem;
}

#content .content {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1 / span 3;
}

#content .author {
  background-color: #f3f3f3;
  padding: 0 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#content .sidebar {
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
}

#content .sidebar > div {
  margin: 1rem 0;
}

#content .list-item {
  color: #555;
  display: block;
  line-height: 5rem;
  font-size: 2rem;
}

#content .list-item:hover {
  color: #c72727;
}

#content .list-item:not(:last-child) {
  border-bottom: 1px dotted #555;
}

#about {
  background-color: #f3f3f3;
}

#about .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5fr 2fr;
      grid-template-columns: 5fr 2fr;
  grid-gap: 3rem;
}

#about .sidebar {
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
}

#about .sidebar > div {
  margin: 1rem 0;
}
/*# sourceMappingURL=main.css.map */