@import 'utilities';
@import 'config';
@import 'variables';
@import 'functions';
@import 'media';

/*
MEDIA QUERY MANAGERS
0 - 600 :      Phone
600 - 900:     Tablet Portrait
900 - 1200:    Tablet Landscape
[1200 - 1800]  is where normal styles applly
1800 + :       Big Desktop
*/

#navbar {
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 3;
    .container {
        display: grid;
        grid-template-columns: 6fr 3fr 2fr;
        align-items: center;
    }
    .social {
        &-item {
            padding-left: 1rem;
            &:hover {
                color: $dark-color;
            }
        }
        justify-self: flex-start;
    }
    .current {
        background-color: $primary-color;
        color: #fff;
        border-radius: 2px;
    }
    a {
        color: $gray-color;
        cursor: pointer;
    }
    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        li {
            font-weight: bold;
            a {
                font-size: 2rem;
                padding: 1rem;
                &:hover {
                    background-color: $light-color;
                    color: $dark-color;
                }
            }
        }
    }
}

#showcase {
    background: black;
    z-index: 1;
    height: 50vh;
    position: relative;
    &::before {
        content: '';
        background: url(../img/featured.jpg) no-repeat center center/cover;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        opacity: .6;
    }
    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: center;
        height: inherit;
        padding: 0 5rem;
    }
    .content {
        color: #fff;
    }
}

#article {
    background-color: $light-color;
    &-cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1rem;
    }
    .card {
        &:first-child {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            justify-content: space-between;
            grid-column-start: 1;
            grid-column-end: 3;
            grid-gap: 1rem;
        }
        &:last-child {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-column-start: 2;
            grid-column-end: 4;
        }
        div h3:hover {
            color: $secondary-color;
        }
    }
}

#footer {
    .container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 2rem;
        &>div:last-child {
            grid-column-start: 1;
            grid-column-end: 5;
            background-color: $gray-color;
            padding: 1rem;
            text-align: center;
        }
    }
    input[type="email"] {
        width: 90%;
        padding: 0.5rem;
        margin-bottom: 0.5rem;
    }
    input[type="submit"] {
        width: 90%;
    }
}

#content {
    background-color: $light-color;
    .container {
        display: grid;
        grid-template-columns: 5fr 2fr;
        grid-gap: 3rem;
    }
    .content {
        grid-row: 1 / span 3;
    }
    .author {
        background-color: $light-color;
        padding: 0 1rem;
        justify-content: space-between;
        display: flex;
    }
    .sidebar {
        transform: translateY(-1rem);
        >div {
            margin: 1rem 0;
        }
    }
    .list {
        &-item {
            color: $gray-color;
            display: block;
            line-height: 5rem;
            font-size: 2rem;
            &:hover {
                color: $primary-color;
            }
            &:not(:last-child) {
                border-bottom: 1px dotted $gray-color;
            }
        }
    }
}

#about {
    background-color: $light-color;
    .container {
        display: grid;
        grid-template-columns: 5fr 2fr;
        grid-gap: 3rem;
    }
    .sidebar {
        transform: translateY(-1rem);
        >div {
            margin: 1rem 0;
        }
    }
}

// @import 'media';
